<application>
    <name>linearAdaptiveControl</name>
    <module>
        <name>linearRegressorAdaptiveControl</name>
        <parameters>--robot icub</parameters>
        <node>node1</node>
        <tag>linearAdaptiveControlModuleSim</tag>
    </module>
</application>
